
/* -- Navbar -- */

.navbar {
    height: 50px;
}

body {
    margin-top: 50px;
}

.nav-item {
    font-size: 1.3em;
    font-weight: bold;
    font-family: 'Courier New';
}

.nav-item span::first-letter {
    padding-left: 0.1em;
    padding-right: 0.05em;
    font-size: 1.3em;
    background-color: #FFE200;
    // color: #F2BE4E;
}

.nav-item span {display:block;}


/* --  Landing  -- */
.landing-text {
    color: #dddddd;
}

.bg-img {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100% !important;
	width: 100% !important;
}

.bg-img .overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: .12;
    background: #1C1D21;
}

